body {
    font-family: sans-serif;
    padding: 0 20px;
    background-color: black;
  }
  
  h1 {
    text-align: center;
    font-weight: 200;
    margin: 0;
    font-size: 34px;
    line-height: 48px;
    text-align: justify;
  }
    button {
    padding: 40px;
    background: black;
    color: aliceblue;
    border-radius: 5px;

  }
  button:hover {
    transition: all 200ms ease-in-out;
    color: black;
    background: white;
    border: 1px solid black;
  }
  .container {
      max-width: 400px;
      margin: 120px auto;
            padding: 30px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 10px;
      display: flex;
      background-color: aliceblue;
      
      
    }
    
  .logo {
    display: block;
    margin: 30px auto;
    width: 150px;
  }
  footer {
    margin-top: 20px;
    font-size: 12px;
  }
  
    